/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #ebf3ec;
  }
  
  /* Header */
  .header {
    width: 100%;
    background-color: rgba(244,237,221);
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .header-container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Logo */
  .logo img {
    height: 100px;
    cursor: pointer;
    margin: 0;
  }
  
  /* Navegação */
  .nav-links {
    display: flex;
    gap: 50px;
  }
  
  .nav-links a {
    font-family: Poppins;
    font-weight: bold;
    text-decoration: none;
    color: #294d2c;
    font-weight: 500;
    font-size: 20px;
    transition: color 0.3s;
  }
  
  a {
    text-decoration: none; /* remove sublinhado */
    color: inherit; /* herda a cor do h3 */
  }

  .nav-links a:hover {
    color: #5dad62; /* muda para azul no hover (você pode trocar pela cor da sua marca) */
    transform: scale(1.05);
  }
  
  /* Ícones */
  .header-icons {
    display: flex;
    gap: 20px;
  }
  
  .header-icons a {
    color: #294d2c;
    font-size: 22px;
    transition: color 0.3s;
  }
  
  .header-icons a:hover {
    color: #5dad62;
    transform: scale(1.05);
  }
  
  .banner img {
    width: 1500px;
  }

.banner  {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.categories {
  margin: 60px 0;
  padding: 0 5%;
}

.categories-titles {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  text-align: center;
}

.categories-titles h2 {
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.category-item {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
}

.category-img {
  background-color: #ddd;
  width: 100%;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.category-item h3 {
  font-size: 18px;
  color: #2b5a2b;
  margin-bottom: 5px;
}

.category-item p {
  font-size: 16px;
  color: #555;
}
